.chatWrapper {
  margin-left: 300px;
}

.input {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  line-height: 40px;
  font-size: 20px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 10px;
  color: #333;
}
